<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
 id="WebApp_ID" version="2.5" >
	<servlet>
		<servlet-name>InputSurvey</servlet-name>
		<servlet-class>controller.InputSurvey</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputSurvey</servlet-name>
		<url-pattern>/InputSurvey</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SaveSurvey</servlet-name>
		<servlet-class>controller.SaveSurvey</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveSurvey</servlet-name>
		<url-pattern>/SaveSurvey</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowAllSurvey</servlet-name>
		<servlet-class>controller.ShowAllSurvey</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowAllSurvey</servlet-name>
		<url-pattern>/ShowAllSurvey</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExecuteLogin</servlet-name>
		<servlet-class>controller.ExecuteLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExecuteLogin</servlet-name>
		<url-pattern>/ExecuteLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ExecuteLogout</servlet-name>
		<servlet-class>controller.ExecuteLogout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ExecuteLogout</servlet-name>
		<url-pattern>/ExecuteLogout</url-pattern>
	</servlet-mapping>
		<servlet>
		<servlet-name>Top</servlet-name>
		<servlet-class>controller.Top</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Top</servlet-name>
		<url-pattern>/Top</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowAllItems</servlet-name>
		<servlet-class>controller.ShowAllItems</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowAllItems</servlet-name>
		<url-pattern>/ShowAllItems</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Detail</servlet-name>
		<servlet-class>controller.Detail</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Detail</servlet-name>
		<url-pattern>/Detail</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Cartin</servlet-name>
		<servlet-class>controller.Cartin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cartin</servlet-name>
		<url-pattern>/Cartin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CartItemShow</servlet-name>
		<servlet-class>controller.CartItemShow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartItemShow</servlet-name>
		<url-pattern>/CartItemShow</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Kakutei</servlet-name>
		<servlet-class>controller.Kakutei</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Kakutei</servlet-name>
		<url-pattern>/Kakutei</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteItem</servlet-name>
		<servlet-class>controller.DeleteItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteItem</servlet-name>
		<url-pattern>/DeleteItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowHistory</servlet-name>
		<servlet-class>controller.ShowHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowHistory</servlet-name>
		<url-pattern>/ShowHistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddItem</servlet-name>
		<servlet-class>controller.AddItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddItem</servlet-name>
		<url-pattern>/AddItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InputItem</servlet-name>
		<servlet-class>controller.InputItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputItem</servlet-name>
		<url-pattern>/InputItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCart</servlet-name>
		<servlet-class>controller.DeleteCart</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCart</servlet-name>
		<url-pattern>/DeleteCart</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddUser</servlet-name>
		<servlet-class>controller.AddUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddUser</servlet-name>
		<url-pattern>/AddUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InputUser</servlet-name>
		<servlet-class>controller.InputUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputUser</servlet-name>
		<url-pattern>/InputUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Admin</servlet-name>
		<servlet-class>controller.Admin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/Admin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserInfo</servlet-name>
		<servlet-class>controller.UserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserInfo</servlet-name>
		<url-pattern>/UserInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllUsersInfo</servlet-name>
		<servlet-class>controller.AllUsersInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllUsersInfo</servlet-name>
		<url-pattern>/AllUsersInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditUser</servlet-name>
		<servlet-class>controller.EditUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditUser</servlet-name>
		<url-pattern>/EditUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateUserInfo</servlet-name>
		<servlet-class>controller.UpdateUserInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserInfo</servlet-name>
		<url-pattern>/UpdateUserInfo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<servlet-class>controller.DeleteUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdatePass</servlet-name>
		<servlet-class>controller.UpdatePass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdatePass</servlet-name>
		<url-pattern>/UpdatePass</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditPass</servlet-name>
		<servlet-class>controller.EditPass</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditPass</servlet-name>
		<url-pattern>/EditPass</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddInquery</servlet-name>
		<servlet-class>controller.AddInquery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddInquery</servlet-name>
		<url-pattern>/AddInquery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InputInquery</servlet-name>
		<servlet-class>controller.InputInquery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputInquery</servlet-name>
		<url-pattern>/InputInquery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowInqueryMine</servlet-name>
		<servlet-class>controller.ShowInqueryMine</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowInqueryMine</servlet-name>
		<url-pattern>/ShowInqueryMine</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowFavorite</servlet-name>
		<servlet-class>controller.ShowFavorite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowFavorite</servlet-name>
		<url-pattern>/ShowFavorite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddFavorite</servlet-name>
		<servlet-class>controller.AddFavorite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddFavorite</servlet-name>
		<url-pattern>/AddFavorite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteFavorite</servlet-name>
		<servlet-class>controller.DeleteFavorite</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteFavorite</servlet-name>
		<url-pattern>/DeleteFavorite</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AllInqueries</servlet-name>
		<servlet-class>controller.AllInqueries</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AllInqueries</servlet-name>
		<url-pattern>/AllInqueries</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InputReview</servlet-name>
		<servlet-class>controller.InputReview</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputReview</servlet-name>
		<url-pattern>/InputReview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddReview</servlet-name>
		<servlet-class>controller.AddReview</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddReview</servlet-name>
		<url-pattern>/AddReview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteReview</servlet-name>
		<servlet-class>controller.DeleteReview</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteReview</servlet-name>
		<url-pattern>/DeleteReview</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowReviews</servlet-name>
		<servlet-class>controller.ShowReviews</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowReviews</servlet-name>
		<url-pattern>/ShowReviews</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ShowAllReviews</servlet-name>
		<servlet-class>controller.ShowAllReviews</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowAllReviews</servlet-name>
		<url-pattern>/ShowAllReviews</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Mypage</servlet-name>
		<servlet-class>controller.Mypage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Mypage</servlet-name>
		<url-pattern>/Mypage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateStock</servlet-name>
		<servlet-class>controller.UpdateStock</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateStock</servlet-name>
		<url-pattern>/UpdateStock</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteInquery</servlet-name>
		<servlet-class>controller.DeleteInquery</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteInquery</servlet-name>
		<url-pattern>/DeleteInquery</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BuyCheck</servlet-name>
		<servlet-class>controller.BuyCheck</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuyCheck</servlet-name>
		<url-pattern>/BuyCheck</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BuyFinish</servlet-name>
		<servlet-class>controller.BuyFinish</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuyFinish</servlet-name>
		<url-pattern>/BuyFinish</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ItemsHistory</servlet-name>
		<servlet-class>controller.ItemsHistory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ItemsHistory</servlet-name>
		<url-pattern>/ItemsHistory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditItem</servlet-name>
		<servlet-class>controller.EditItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditItem</servlet-name>
		<url-pattern>/EditItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateItem</servlet-name>
		<servlet-class>controller.UpdateItem</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateItem</servlet-name>
		<url-pattern>/UpdateItem</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>InputAnswer</servlet-name>
		<servlet-class>controller.InputAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InputAnswer</servlet-name>
		<url-pattern>/InputAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Reviews</servlet-name>
		<servlet-class>controller.Reviews</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Reviews</servlet-name>
		<url-pattern>/Reviews</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddAnswer</servlet-name>
		<servlet-class>controller.AddAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddAnswer</servlet-name>
		<url-pattern>/AddAnswer</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateAnswer</servlet-name>
		<servlet-class>controller.UpdateAnswer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateAnswer</servlet-name>
		<url-pattern>/UpdateAnswer</url-pattern>
	</servlet-mapping>
</web-app>

